@model IEnumerable<ADORO_MVC.Models.Actividad>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADORO</h1>
    
</div>

<table class="table">
    @foreach(var item in Model)
            {
            <tr>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.Imagen) alt="Actividad" width="80">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre) <br>
                    @Html.DisplayFor(modelItem => item.GeneroActividad)<br>
                    @Html.DisplayFor(modelItem => item.TipoActividad)<br>
                </td>

                <td>
                    <a asp-controller="Actividades" asp-action="DetailsUser" asp-route-id="@item.Id">Details</a>
                </td>
               
            </tr>
            }
</table>