@model ADORO_MVC.Models.Actividad

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http;
<div>
    <div>
        <table class="table">
            <tr>
                <td>
                    <img src="/Images/@Html.DisplayFor(modelItem => Model.Imagen)" alt="Actividad" width="200" />
                </td>
                <td>
                    <h1>@Html.DisplayFor(model => model.Nombre)</h1>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </td>
                @if (ViewBag.capacidadSala != 0)
                {
                    <td>
                        <p>Capacidad Disponible: @ViewBag.capacidadSala</p>
                        @if ((Context.Session.GetString("Rol") == "Admin" || Context.Session.GetString("Rol") == "User"))
                        {
                            <a asp-action="Reservar" asp-route-id="@Model.Id">Reservar</a>
                        }
                    </td>
                }
                else
                {
                    <td>Entradas agotadas</td>
                }

            </tr>
            <tr>
                <td>
                    <div>
                        <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
        

    </div>
