@model ADORO_MVC.Models.Actividad

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http;

<head>
    <style>
        .actividadCajita {
            background-color: #6c757d21;
            border: 10px solid #ffbe3e;
        }
    </style>
</head>

<div>
    <div>
        <table class="table">
            <tr class="actividadCajita">
                <td>
                    <img src="/Images/@Html.DisplayFor(modelItem => Model.Imagen)" alt="Actividad" width="200" />
                </td>
                <td>
                    <h1>@Html.DisplayFor(model => model.Nombre)</h1>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </td>
                @if (ViewBag.capacidadSala > 0)
                {
            <td>
                <p>Capacidad Disponible: @ViewBag.capacidadSala</p>
                @if ((Context.Session.GetString("Rol") == "Admin" || Context.Session.GetString("Rol") == "User"))
                {
                    <div class="text-align-center">
                        <a asp-action="Reservar" asp-route-id="@Model.Id">RESERVAR</a>
                    </div>
                    <style>
                        .text-align-center {
                            height: 60px;
                            width: 100px;
                            background: #ffff99;
                            color: #333;
                            line-height: 60px;
                            text-align: center;
                            vertical-align: middle;
                        }
                    </style>
                }
            </td>
            }
            else
            {
            <td>Entradas agotadas</td>
            }

            </tr>
            <tr>
                <td>
                    <div>
                        <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
        

    </div>
