@model ADORO_MVC.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<head>
    <style>
        .loginBox {
            background-color: #6c757d21;
            border: 10px solid #ffbe3e;
        }
    </style>
</head>

<h1>Iniciar sesion</h1>

<hr />
<div class="row">
    <div class="loginBox col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Iniciar sesion" class="btn btn-primary" />
                        </div>
                    </td>
                    @if (ViewBag.mensajeError != null)
                    {
                        <td>
                            @ViewBag.mensajeError
                        </td>
                    }
                </tr>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
